#header {
    background: black;
    height: 70px;
}

#nav-bar {
    bottom: 10px;
}

#video {
    width: 100vw;
}

.video-title {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-title h1 {
    text-align: center;
    font-size: 6rem;
    z-index: 1;
    color: black;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    letter-spacing: -0.04em;
}

#section-title {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    letter-spacing: -0.04em;
    text-align: center;
    color: black;
}

#title {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.img-hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.img-hover:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.card {
    border: none !important;
}

.nav-link {
    font-weight: 400;
    letter-spacing: -0.04em;
    color: white;
}

.nav-link:hover {
    color: #afafaf;
}

.submit-button {
    background-color: black;
    font-family: Oswald, sans-serif;
    color: white;
    text-transform: uppercase;
    width: 100%;
    font-size: 12px;
    letter-spacing: 0.15em;
    padding: 10px;
    border-radius: 4px;
}

#form-title {
    font-family: Oswald, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.img-change-1 {
    content: url("https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,q_80/gaj0xwehnray0onbxsc4/air-vapormax-flyknit-3-shoe-k9MQp8.jpg");
    width: 100%;
}

.img-change-1:hover {
    content: url("https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,q_80/re87lg3k6cgeqqdwzuf6/air-vapormax-flyknit-3-shoe-k9MQp8.jpg");
}

.img-change-2 {
    content: url("https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,q_80/451e910b-9c63-476f-a289-44b9cf63d161/air-vapormax-flyknit-3-shoe-8g2nsq.jpg");
    width: 100%;
}

.img-change-2:hover {
    content: url("https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,q_80/7fcbde64-d200-4c1f-83f9-0543484bbd45/air-vapormax-flyknit-3-shoe-8g2nsq.jpg");
}

.more-available {
    color: grey;
    text-align: right;
}

#nike-send {
    color: grey;
    text-decoration: underline;
}

#sign-up {
    background: #f7f7f7;
}

.subfooter {
    color: grey;
    font-size: 12px;
}
