html {
    font-family: Mukta;
    line-height: ;
    color: #222;
    background-color: #f0f4f5;
}

a {
    color: #005eb8;
    font-weight: 400;
    font-size: 18px;
}

#header-container {
    background-color: #005eb8;
    height: 130px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
}

#header-area {
    max-width: 1000px;
    margin: 15px auto;
}

#search-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 150px;
}

#search-bar {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#main-container {
    max-width: 700px;
    margin: 0 auto;
    right: 150px;
}

#hospital-name {
    position: relative;
    bottom: 33px;
    font-weight: 600;
    font-size: 25px;
    color: white;
}

#trust-name {
    position: relative;
    bottom: 67px;
    font-weight: 500;
    font-size: 19px;
    color: white;
}

#breadcrumbs {
    margin-bottom: -10px;
}

#title {
    font-size: 55px;
    line-height: 1em;
}

#description {
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 600;
    margin-bottom: 40px;
    margin-top: -20px;
}

#submit {
    margin-top: 10px;
    background-color: #007f3b;
    color: white;
    font-family: Mukta;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
}

#footer {
    background-color: #d8dde0;
    height: 130px;
    width: 100vw;
    bottom: 0;
    left: 0;
    position: absolute;
}

.form-group {
    margin-top: 20px;
}
