html {
    font-family: Mukta;
    color: #222;
    background-color: #f0f4f5;
}

a {
    color: #005eb8;
    font-weight: 400;
    font-size: 18px;
}

body {
    margin-top: 150px;
}

label,
.label-description {
    font-size: 18px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    display: block;
    width: 50%;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    height: 35px;
}

textarea {
    height: 100px;
    font-family: Mukta;
    font-size: 16px;
}

#content-wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

#header-container {
    background-color: #005eb8;
    height: 130px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

#header-area {
    max-width: 1000px;
    margin: 15px auto;
}

#search-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 190px;
}

#search-bar {
    padding: 10px;
    width: 200px;
    height: 25px;
    border: none;
    font-size: 15px;
}

#search-btn {
    height: 45px;
    width: 45px;
    background-color: rgb(235, 235, 235);
    border: none;
}

#main-container {
    max-width: 700px;
    margin-left: -13px;
}

#hospital-name {
    position: relative;
    bottom: 33px;
    font-weight: 600;
    font-size: 25px;
    color: white;
}

#trust-name {
    position: relative;
    bottom: 67px;
    font-weight: 500;
    font-size: 19px;
    color: white;
}

#breadcrumbs {
    margin-bottom: -10px;
}

#title {
    font-size: 55px;
    line-height: 1em;
}

#description {
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 600;
    margin-bottom: 40px;
    margin-top: -20px;
}

#submit {
    margin-top: 30px;
    background-color: #007f3b;
    color: white;
    font-family: Mukta;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
}

#footer {
    background-color: #d8dde0;
    margin-top: 50px;
    border-top: 5px solid #005eb8;
    position: absolute;
    width: 100vw;
    left: 0;
    color: grey;
}

#footer-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

#footer-text {
    padding: 20px 0px 20px 0px;
}

.form-group {
    margin-top: 20px;
}
